$color-font: #333;
$color-white: #fff;
$color-light-black: #777;
$color-lighter-black: #aaa;
$color-light-grey: #eee;
$color-lighter-grey: #f4f4f4;
$color-grey: #ddd;
$color-main: aliceblue;
$color-link: dodgerblue;
$color-error: red;
$color-font-up: limegreen;
$color-font-down: indianred;
$color-background-up: palegreen;
$color-background-down: lightpink;
$color-background-main: #37003c;
$color-background-light: #ff2882;
