@mixin icon-button() {
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    min-width: 44px;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
}

@mixin loader() {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 256px;
    height: 256px;
    margin: -128px 0 0 -128px;
    max-width: 100%;
    background-image: url('../../../public/logo.png');
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

// animation for loader
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@mixin link-main() {
    color: $color-link;
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
}

@mixin title() {
    text-align: center;
    background: $color-background-main;
    // background: linear-gradient(90deg, $color-background-main 0%, $color-background-light 100%);
    // background: radial-gradient(circle, $color-background-main 60%, $color-background-light 100%);
    padding: 0.5em;
    color: $color-white;
}
