@import 'common/styles/common';

.header {
    width: 100%;
    background: $color-background-main;
    background: linear-gradient(90deg, $color-background-main 0%, $color-background-light 100%);
    .title {
        color: $color-white;
        padding: 1em;
        text-align: center;
    }
    .navigation {
        background-color: $color-white;
        display: flex;
        justify-content: center;
        padding-bottom: 4px;
        font-size: 0.8em;
        .link {
            color: $color-light-black;
            text-decoration: none;
            padding: 0.2em 0.5em;
            border-bottom: 4px solid transparent;
        }
        .link:hover {
            border-bottom: 4px solid $color-background-main;
        }
        .link.active {
            border-bottom: 4px solid $color-background-main;
            font-weight: bold;
        }
    }
}
