@import 'common/styles/common';

.games {
    width: 100%;
    .title {
        @include title();
    }
    .loader {
        @include loader();
    }
    .info {
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
        text-align: center;
        color: $color-font;
        font-size: 1.2em;
        padding: 0.5em;
    }
    .sort {
        display: flex;
        justify-content: center;
    }
    .sort-inner {
        display: inline-block;
        cursor: pointer;
        padding: 0.5em;
        color: $color-white;
        background-color: $color-background-main;
    }
    .sort-text {
        margin-left: 0.5em;
    }
    .games-list {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.1em;
        padding-top: 1em;
    }
    .game-item {
        padding:0.8em;
        border-bottom: 1px solid $color-lighter-grey;
        text-align: center;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .date {
        font-size: 0.8em;
        text-align: center;
        color: $color-font;
        padding-top: 4px;
        flex: 0.2;
    }
    .link {
        color: $color-font;
        font-weight: bold;
        text-decoration: none;
    }
    .link-home {
        padding-right: 0.2em;
    }
    .link-away {
        padding-left: 0.2em;
    }
    .teams {
        display: flex;
        justify-content: space-between;
        flex: 1;
        color: $color-font;
        font-weight: bold;
    }
    .team-home {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    .team-away {
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }
    .team-home-goals {
        padding-left: 0.5em;
        padding-right: 0.5em;
        background-color: $color-background-main;
        color: $color-white;
        margin-left: 0.2em;
        margin-right: 1px;
        height: 24px;
        line-height: 24px;
    }
    .team-away-goals {
        padding-left: 0.5em;
        padding-right: 0.5em;
        background-color: $color-background-main;
        color: $color-white;
        margin-right: 0.2em;
        height: 24px;
        line-height: 24px;
    }
    .teams .logo-img {
        width: 24px;
        height: 24px;
    }
    .more {
        text-decoration: none;
        color: $color-font;
        flex: 0.2;
    }

    @media only screen and (max-width: 480px) {
        .info {
            width: 100%;
        }
        .games-list {
            width: 100%;
            font-size: 1em;
        }
        .game-item {
            padding: 0.2em;
            flex-wrap: wrap;
        }
        .date {
            flex-basis: 100%;
            padding: 0.4em;
        }
        .more {
            flex-basis: 100%;
            padding: 0.4em;
        }
    }
}
