@import 'common/styles/common';

.standings-table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: unset;
    th {
        background-color: $color-lighter-grey;
        color: $color-font;
        padding: 0.3em 0.6em;
        font-weight: normal;
    }
    tbody td {
        border-bottom: 1px solid $color-lighter-grey;
        padding: 0.3em 0.6em;
        text-align: center;
    }
    .club-td {
        padding: 0;
    }
    .club {
        display: flex;
    }
    .club-name {
        overflow: hidden;
        white-space: nowrap;
        padding: 0.3em 0.6em;
    }
    .logo {
        width: 28px;
        height: 28px;
        padding: 0;
    }
    .logo-img {
        max-width: 100%;
        max-height: 100%;
    }
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }
    .bold {
        font-weight: bold;
    }
    .link {
        color: $color-font;
        font-weight: bold;
        text-decoration: none;
    }
    .form {
        display: flex;
        div {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            color: $color-white;
            font-size: 0.6em;
            font-weight: bold;
            padding: 4px;
            margin: 0 1px;
        }
        .win {
            background-color: $color-win;
        }
        .draw {
            background-color: $color-draw;
        }
        .lose {
            background-color: $color-lose;
        }
    }

    @media only screen and (max-width: 480px) {
        font-size: 0.8em;
        th {
            padding: 0.2em 0.2em;
        }
        tbody td {
            padding: 0.2em 0.2em;
        }
        .club-name {
            overflow: hidden;
            white-space: nowrap;
            padding: 0.2em 0.2em;
        }

        td:first-child, th:first-child {
            position: sticky;
            left: 0;
            z-index: 1;
            background-color: white;
          // box-shadow: 1px 0 $color-white;
        }
        td:nth-child(2),th:nth-child(2) {
            position:sticky;
            left: 30.5px;
            z-index: 1;
            background-color: white;
            // box-shadow: 1px 0 $color-white;
        }
        th:first-child {
            background-color: $color-lighter-grey;
        }
        td:first-child {
            background-color: $color-white;
        }
        th:nth-child(2) {
            background-color: $color-lighter-grey;
        }
        td:nth-child(2) {
            background-color: $color-white;
        }

        .form {
            div {
                width: 16px;
                height: 16px;
            }
        }

    }
}
