@import 'common/styles/common';

.team {
    width: 100%;
    .title {
        @include title();
    }
    .loader {
        @include loader();
    }
    .info {
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
        text-align: center;
        color: $color-font;
        font-size: 1.2em;
        padding: 1em;
        .team-name {
            font-weight: bold;;
        }
    }
    .tabs {
        display: flex;
        justify-content: center;
        padding-bottom: 4px;
        .tab {
            color: $color-font;
            text-decoration: none;
            padding: 0.2em 0.5em;
            border-bottom: 4px solid transparent;
            cursor: pointer;
        }
        .tab:hover {
            border-bottom: 4px solid $color-background-main;
        }
        .tab.active {
            border-bottom: 4px solid $color-background-main;
            font-weight: bold;
        }
    }
    .sort {
        display: flex;
        justify-content: center;
        margin-top: 1em;;
    }
    .games-list {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .game-item {
        padding: 0.5em;
        border-bottom: 1px solid $color-lighter-grey;
        text-align: center;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .game-item.win {
        background-color: rgba($color-win, 0.15);
    }
    .game-item.lose {
        background-color: rgba($color-lose, 0.15);
    }
    .game-item.draw {
        background-color: rgba($color-draw, 0.15);
    }
    .date {
        font-size: 0.8em;
        text-align: center;
        color: $color-font;
    }
    .link {
        color: $color-font;
        font-weight: bold;
        text-decoration: none;
    }
    .teams, .result {
        display: flex;
        justify-content: space-between;
        color: $color-font;
        font-weight: bold;
        padding: 0.2em;
    }
    .teams div, .result div {
        width: 50%;
        text-align: center;
    }
    .more {
        text-decoration: none;
        color: $color-font;
    }

    .summary {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        .topic-games {
            margin-top: 1em;
        }

        .line-diagram {
            display: flex;
            margin-bottom: 0.5em;
            color: $color-white;
        }
        .line-diagram .wins {
            background-color: rgba($color-win, 0.8);
            text-align: center;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
        }
        .line-diagram .draws {
            background-color: rgba($color-draw, 0.8);
            text-align: center;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
        }
        .line-diagram .losses {
            background-color: rgba($color-lose, 0.8);
            text-align: center;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
        }

        .line-diagram-splitted {
            display: flex;
            justify-content: space-between;
            background-color: rgba($color-light-grey, 0.8);
        }
        .line-diagram-splitted .goals-scored {
            color: $color-white;
            background-color: rgba($color-win, 0.8);
            text-align: center;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
        }
        .line-diagram-splitted .goals-allowed {
            color: $color-white;
            background-color: rgba($color-lose, 0.8);
            text-align: center;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
        }
    }
}
