@import 'common/styles/common';

.team {
    width: 100%;
    .title {
        @include title();
    }
    .loader {
        @include loader();
    }
    .info {
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
        text-align: center;
        color: $color-font;
        font-size: 1.2em;
        padding: 0.5em;
        .team-name {
            font-weight: bold;;
        }
        .logo-img {
            width: 80px;
        }
    }
    .tabs {
        display: flex;
        justify-content: center;
        padding-bottom: 4px;
        .tab {
            color: $color-font;
            text-decoration: none;
            padding: 0.2em 0.5em;
            border-bottom: 4px solid transparent;
            cursor: pointer;
        }
        .tab:hover {
            border-bottom: 4px solid $color-background-main;
        }
        .tab.active {
            border-bottom: 4px solid $color-background-main;
            font-weight: bold;
        }
    }
    .sort {
        display: flex;
        justify-content: center;
        margin-top: 1em;;
    }
    .games-list {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.1em;
    }
    .game-item {
        padding: 0.8em;
        border-bottom: 1px solid $color-lighter-grey;
        text-align: center;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .game-item.win {
        border-left: 6px solid $color-win;
    }
    .game-item.lose {
        border-left: 6px solid $color-lose;
    }
    .game-item.draw {
        border-left: 6px solid $color-draw;
    }
    .game-result {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        position: absolute;
        left: 0px;
        top: 20px;
    }
    .date {
        font-size: 0.8em;
        text-align: center;
        color: $color-font;
        padding-top: 4px;
    }
    .link {
        color: $color-font;
        font-weight: bold;
        text-decoration: none;
    }
    .link-home {
        padding-right: 0.2em;
    }
    .link-away {
        padding-left: 0.2em;
    }
    .teams {
        display: flex;
        justify-content: space-between;
        flex: 1;
        color: $color-font;
        font-weight: bold;
    }
    .team-home {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    .team-away {
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }
    .team-home-goals {
        padding-left: 0.5em;
        padding-right: 0.5em;
        background-color: $color-background-main;
        color: $color-white;
        border-right: 1px solid $color-white;
        margin-left: 0.2em;
    }
    .team-away-goals {
        padding-left: 0.5em;
        padding-right: 0.5em;
        background-color: $color-background-main;
        color: $color-white;
        margin-right: 0.2em;
    }
    .teams .logo-img {
        width: 24px;
        height: 24px;
    }
    .more {
        text-decoration: none;
        color: $color-font;
    }

    .summary {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        .row {
            position: relative;
        }
        .topic {
            text-align: right;
            padding-left: 0.5em;
            padding-top: 19px;
            padding-right: 10px;
            position: absolute;
            left: -110px;
            width: 22%;
        }

        .line-diagram {
            display: flex;
            margin-bottom: 1.5em;
            font-weight: bold;
        }
        .line-diagram .wins {
            text-align: center;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            border-bottom: 10px solid rgba($color-win, 0.8);
        }
        .line-diagram .draws {
            text-align: center;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            border-bottom: 10px solid rgba($color-draw, 0.8);
        }
        .line-diagram .losses {
            text-align: center;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            border-bottom: 10px solid rgba($color-lose, 0.8);
        }

        .line-diagram-splitted {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
        }
        .line-diagram-splitted .goals-scored {
            text-align: center;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            border-bottom: 10px solid rgba($color-win, 0.8);
            
        }
        .line-diagram-splitted .goals-allowed {
            text-align: center;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            border-bottom: 10px solid rgba($color-lose, 0.8);
        }
        .line-diagram-splitted .goals-empty {
            text-align: center;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            border-bottom: 10px solid rgba($color-draw, 0.8);
        }
    }
}
