@import 'common/styles/common';

.game {
    width: 100%;
    .title {
        @include title();
    }
    .loader {
        @include loader();
    }
    .game-detail {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        .info {
            margin-left: auto;
            margin-right: auto;
            max-width: 500px;
            text-align: center;
            color: $color-font;
            font-size: 1.2em;
            padding: 1em;
        }
    }
    .date {
        text-align: center;
        color: $color-font;
    }
    .link {
        color: $color-font;
        font-weight: bold;
        text-decoration: none;
    }
    .teams,
    .result,
    .result-half {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 1.2em;
    }
    .teams .team,
    .result .team,
    .result-half .team {
        width: 35%;
        text-align: center;
    }
    .teams .middle,
    .result .middle,
    .result-half .middle {
        width: 30%;
    }
    .result-half {
        font-size: 1em;
        font-weight: normal;
    }
    .stat {
        padding-top: 1em;
    }
    .stat-line {
        display: flex;
        justify-content: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-bottom: 1px solid $color-lighter-grey;
    }
    .stat-line .team {
        width: 35%;
        text-align: center;
    }
    .stat-line .middle {
        width: 30%;
        text-align: center;
        font-size: 1em;
        color: $color-font;
    }
}
