@import 'common/styles/common';

.game {
    width: 100%;
    .title {
        @include title();
    }
    .loader {
        @include loader();
    }
    .game-detail {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding: 0.5em;
        border-bottom: 1px solid $color-lighter-grey;
        text-align: center;
    }
    .date {
        font-size: 0.8em;
        text-align: center;
        color: $color-light-black;
    }
    .link {
        color: $color-light-black;
        font-weight: bold;
        text-decoration: none;
    }
    .teams, .result, .result-half {
        display: flex;
        justify-content: space-between;
        color: $color-light-black;
        font-weight: bold;
        padding: 0.2em;
    }
    .teams div, .result div, .result-half div {
        width: 50%;
        text-align: center;
    }
    .result-half {
        font-size: 0.9em;
        font-weight: normal;
    }
}
